<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        
        <title>{% block title %}{% endblock %} - iPupillam</title>
        
        <link rel="stylesheet" href="/styles/1.normalize.css" />
        <link rel="stylesheet" href="/styles/2.utils.css" />
        <link rel="stylesheet" href="/styles/3.main.css" />
        
        <script src="/scripts/main.js"></script>
        
        {% block head %}{% endblock %}
    </head>
    <body>
    
        <div class="mainContainer">
    
            <header id="header">
                <h1>iPupillam</h1>
                <p class="blurb">
                    For all your Apple gadget needs.
                </p>
                
                <div class="account">
                    {% if viewbag.authUser %}
                        <p>{{ viewbag.authUser.name }}</p>
                        <form method="post" action="/account/logout">
                            <button>Logout</button>
                        </form>
                    {% else %}
                        <a href="/account/login">Login</a>
                    {% endif %}
                </div>
            </header>
            
            <nav class="topNav">
                <ul>
                    <li><a href="/">Hot Deals</a></li>
                    <li><a href="/orders">My Orders</a></li>
                    <li><a href="/account">My Account</a></li>
                    <li><a href="/about/contact">Contact Us</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
            
            <div id="middle">
                <nav class="categories">
                    <ul>
                        {% for category in viewbag.categories %}
                            <li><a href="/category/{{ category.id }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
                
                <section id="content">
                    {% block content %}{% endblock %}
                </section>
            </div>
        
            <footer id="footer">
                <small>2013 &copy; iShop - All rights reserved</small>
                
                <ul class="legalLinks">
                    <li><a href="/about">about</a></li>
                    <li><a href="/about/contact">contact</a></li>
                    <li><a href="/about/legal">legal</a></li>
                    <li><a href="/about/terms">terms &amp; conditions</a></li>
                </ul>
            </footer>
        
        </div>
        
    </body>
</html>